@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body{
    background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100vh;
    width: 100%;
    /* overflow: hidden; */
}

header{
    position: absolute;
    top: 13%;
    left:50%;
    transform: translate(-50%, -50%); 
} 

.container1{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border: 1px solid #FFFFFF4A;
    gap: 400px;
    padding: 15px;
    border-radius: 0.9375rem;
    border: 3px solid rgba(255, 255, 255, 0.29);
}

#Score_board{
border:1px solid;
width: 9.375rem;
height: 7.125rem;
flex-shrink: 0;
border-radius: 0.5rem;
background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
text-align: center;

}

#score{
color:blue;
font-family: Barlow Semi Condensed;
font-weight: 600;
line-height: 2;
}

#cross
{
position: absolute; 
top: 57%;
left: 38%;   
transform: translate(-50%, -50%);  
flex-shrink: 0;  
}
#cross .Cross
{
width: 8.0625rem;
height: 8.25rem;    
}
#hand3
{
position: absolute;
top: 55%;
left: 62%;
transform: translate(-50%, -50%);   
} 
#hand3 .Logo2{
width: 8.0625rem;
height: 8.25rem;
}
#lizard
{
    position: absolute; 
    top: 80%;
    left: 43%;   
    transform: translate(-50%, -50%);  
    flex-shrink: 0;
}
#lizard .Lizard
{
    width: 8.0625rem;
    height: 8.25rem;   
}


#hand4
{
    position: absolute; 
    top: 43%;
    left: 50%;   
    transform: translate(-50%, -50%);  
    flex-shrink: 0;
}
#hand4 .Logo1{
width: 8.0625rem;
height: 8.25rem;
}

#num{
position: relative;
top:-15%;   
font-size: 5rem;
font-family: Barlow Semi Condensed;
color: rgb(73, 70, 70);
font-weight: 600;
}

.tri{
position: absolute;
top: 60%;
left:50%;
transform: translate(-50%, -50%); 
 width: 15.875rem;
height: 14.9375rem;
flex-shrink: 0; 
}
.tri1{
position: absolute;
top: 60%;
left:50%;
transform: translate(-50%, -50%); 
width: 20.875rem;
height: 20.9375rem;
}


button{
    background: none; 
    cursor: pointer;
    border: none;
    transition: 0.1s;
}
/* #tag button:hover
{
background-image:url(Oval6.svg);
background-repeat: no-repeat;
background-size: cover;
width: 14.75rem;
height: 14.5rem;
flex-shrink: 0;
} */

#hand .Logo2
{
width: 11.375rem;
height: 11.6875rem;
flex-shrink: 0;   
}
#hand2 .Logo1
{
width: 11.375rem;
height: 11.6875rem;
flex-shrink: 0;
}
#rock{
    position: absolute; 
    top: 73%;
    left: 50%;   
    transform: translate(-50%, -50%); 
    /* margin-top: -30px; */

}
#rock .Logo3
{
width: 11.375rem;
height: 11.6875rem;
flex-shrink: 0;
}
#rock1{
position: absolute; 
top: 80%;
left: 57%;   
transform: translate(-50%, -50%);  
flex-shrink: 0;
}
#rock1 .Logo3
{
width: 8.0625rem;
height: 8.25rem;
}
.both{
    display: flex;
    position: absolute;
    top: 47%;
    left:50%;
    transform: translate(-50%, -50%); 
    gap: 40px;
}
#Bonus
{
    width: 9rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 1px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: Barlow Semi Condensed;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.15625rem;
    /* position: relative;
    top:90%;
    left: 7%; */
    transition: 0.4s;   
}
.but
{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    position: relative;
    top: 85%;
}

#myRules{
    /* float: right; */
    width: 8rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 1px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: Barlow Semi Condensed;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.15625rem;
    position: relative;
    top:80%;
    left: -10%; 
    transition: 0.4s;


    float: right; 

}
.myRules
{
float: right; 
width: 8rem;   
height: 2.5rem;
flex-shrink: 0;
border-radius: 0.5rem;
border: 1px solid #FFF;
color: #FFF;
text-align: center;
font-family: Barlow Semi Condensed;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.15625rem;
position: relative;
top:80%;
left: -10%; 
transition: 0.4s;  
}

#myRules:hover{
    color: #3B4262; 
    background: #fff;
}

.myRules:hover
{
color: #3B4262; 
background: #fff;   
}
#Bonus:hover
{
    color: #3B4262; 
    background: #fff;   
}
.popup,.popup1
{
/* opacity: 0.5; */
background: #0000006b; 
width: 100%;
height: 100%;
flex-shrink: 0; 
position: absolute;
top: 0%;
display: none; 
justify-content: center;


}
.content
{
width: 25rem;
height: 25.9375rem;
flex-shrink: 0;
border-radius: 0.5rem;
background: #FFF;
box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
position: relative;
top: 27%;


}
.b1
{
 display: flex; 
justify-content: space-between; 
margin-left: 30px;
margin-right: 30px;
margin-top: 30px;
}
.b1 img
{
width: 1.19325rem;
height: 1.19325rem;
flex-shrink: 0;
cursor: pointer;
}
.content .icon
{
position: absolute;
top: 50%;
left:50%;
transform: translate(-50%, -50%); 
}
.content p
{
color: #3B4262;
font-family: Barlow Semi Condensed;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: 2rem; 
/* position: relative;
left: 10%;
top: 7%; */
}
.box1, .box2 ,.box3, .box4, .box5, .box6, .box7, .box8
{   
gap: 40px;
padding: 15px;
border-radius: 0.9375rem;
border: 3px  rgba(255, 255, 255, 0.29);   
width: 80%;
position: absolute;
top: 55%;
left:50%;
transform: translate(-50%, -50%); 
display: none;
width: 43.75rem;
flex-shrink: 0;
}


.content1
{
display: flex; 
justify-content: space-between;
align-items: center;

}
.content1 p
{
color: #FFF;
text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
font-family: Barlow Semi Condensed;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: 2rem; /* 133.333% */
letter-spacing: 0.1875rem;  
}
.option
{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
#Home,#Home2,#Home3,#Home4,#Home5
{
width: 10.75rem;
height: 3rem;
flex-shrink: 0;  
border-radius: 0.5rem;
background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
color: #3B4262;
font-family: Barlow Semi Condensed;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.15625rem;
position: relative;
top:20%;
left: 15%;
}

#Home:active,#Home2:active,#Home3:active,#Home4:active, #Home5:active
{
    color: #DB2E4D;
font-family: Barlow Semi Condensed;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.15625rem;
}
#Result,#Result2,#Result3,#Result4,#Result5
{
position: relative;
left: 10px;
top: 30px;
color: #FFF;
text-align: center;
text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
font-family: Barlow Semi Condensed;
font-size: 3.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.logo3 ,.logo2 ,.logo1
{
    display: none;

}
.Mychoice
{
    display: none;
}
#oval,#oval3,#oval5,#oval7,#oval9
{
 width: 16.875rem;
height: 16.875rem;
flex-shrink: 0;
border-radius: 45.625rem;
opacity: 0.05;
background: #FFF;
position: absolute;
right: 63.5%;
z-index: -1;
top: 20%;  
display: none;
/* border: 1px solid;
border-radius: 45.625rem;
opacity: 0.05;
background: #FFF; */
}
#oval2,#oval4,#oval6,#oval8,#oval10  
{
    width: 16.875rem;
    height: 16.875rem;
    flex-shrink: 0;
    border-radius: 45.625rem;
    opacity: 0.05;
    background: #FFF;
    position: absolute;
    left: 63.3%;
    z-index: -1;
    top: 20%; 
    display: none; 
      
}
.box4 #Aichoice1, .box5 #Aichoice2, .box6 #Aichoice3, .box7 #Aichoice4, .box8 #Aichoice5
{
width: 13.375rem;
height: 13.125rem;
flex-shrink: 0; 
}
.mid{
    position: relative;
    right: 2.5%;  
}



/* @media screen and (max-width:1280px)
{
.popup
{

background: #0000006b; 
width: 100%;
height: 100%;
flex-shrink: 0; 
position: absolute;
display: none; 
justify-content: center;
position: relative;
top: -6%;
}
header{
position: absolute;
top: 17%;
left:40%;
transform: translate(-50%, -50%); 
} 
.Logo2,.Logo1,.Logo3{
    width: 11.375rem;
   height: 11.6875rem;
   flex-shrink: 0;
   
   }
#rock{
    position: absolute; 
    top: 70%;
    left: 50%;   
    transform: translate(-50%, -50%); 
    margin-top: -30px;
}
.container1
{
display: flex; 
justify-content: space-between; 
align-items: center;
border: 1px solid #FFFFFF4A;
gap: 80px;
width:150%;
padding: 15px;
border-radius: 0.9375rem;
border: 3px solid rgba(255, 255, 255, 0.29);
}
#rock{
position: absolute; 
top: 82%;
left: 50%;   
transform: translate(-50%, -50%); 
}
.tri{
position: absolute;
top: 67%;
left:50%;
transform: translate(-50%, -50%); 
} 
 #hand
{
position: relative;

left:2%;  

} 

 .box1
{
gap: 40px;
padding: 15px;
border-radius: 0.9375rem;
border: 3px  rgba(255, 255, 255, 0.29);   
width: 80%;
position: absolute;
top: 60%;
left:50%;
transform: translate(-50%, -50%); 
display: none;
width: 43.75rem;
flex-shrink: 0;
}
.box2
{
gap: 40px;
padding: 15px;
border-radius: 0.9375rem;
border: 3px  rgba(255, 255, 255, 0.29);   
width: 80%;
position: absolute;
top: 60%;
left:50%;
transform: translate(-50%, -50%); 
display: none;
width: 43.75rem;

flex-shrink: 0;
}
.box3
{
gap: 40px;
padding: 15px;
border-radius: 0.9375rem;
border: 3px  rgba(255, 255, 255, 0.29);   
width: 80%;
position: absolute;
top: 60%;
left:50%;
transform: translate(-50%, -50%); 
display: none;
width: 43.75rem;
flex-shrink: 0;
}
.mid
{
 position: relative;
 right: 2.0%;   
} 

} */


@media  screen and (max-width:890px)
{

/* body
    {
overflow: hidden;2
    } */
#rock1{
position: absolute; 
top: 43.5rem;
left: 63%;   
 transform: translate(-50%, -50%);   
flex-shrink: 0;
}

#lizard 
{
position: relative;
top: 43.5rem;
left: 9rem;
transform: translate(-50%, -50%);   
}
#lizard .Lizard
{
width: 8.0625rem;
height: 8.25rem;   
}
#cross
{
position: absolute;
top: 33.5rem;
left: 15.5rem;   
}

 #hand3 
{
position: absolute;
top: 33.5rem;
left: 33rem;
flex-shrink: 0;
} 
/* #hand3 .Logo2{
width: 8.0625rem;
height: 8.25rem;
} */
#hand4 
{
flex-shrink: 0; 
position: relative;
top: 17.5rem;
left: 24.5rem; 
}
#myRules1
{

position: relative;
top:70%;
left: -10%; 
transition: 0.4s;  
}

    .logo
    {
    width: 8.375rem;
    height: 6.125rem;
    }
    #Score_board{
        border:1px solid;
        width: 6.375rem;
        height: 6.125rem;
        flex-shrink: 0;
        border-radius: 0.5rem;
        background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
        box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
        text-align: center;
        
        }
        #num
        {
            position: relative;
            top:-1.5rem;
        }
    
header{
    position: absolute;
    top: 17%;
    left:50%;
    transform: translate(-50%, -50%); 
} 

.container1{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border: 1px solid #FFFFFF4A;
    gap: 200px;
    padding: 15px;
    border-radius: 0.9375rem;
    border: 3px solid rgba(255, 255, 255, 0.29);
    width: 100%;
   
}
    .tri{
        position: absolute;
        top: 57%;
        left:50%;
    }
    #rock{
        position: absolute; 
        top: 70%;
        left: 50%; 
    }

    #myRules{
    position: relative;
    top:85%;
    }
    .box1,.box2,.box3
    {
    position: absolute;
    top: 55%;  
    }

    #Bonus
    {
    width: 9rem;
    }


}

@media screen and (max-width:500px)
{

    /* body {
overflow-x: scroll; 
    } */
    button:hover{
        background-color: initial;
    }

.tri1
{
width: 20.1875rem;
height: 20.1875rem;
flex-shrink: 0;
position: absolute;
top: 54%;
}
#hand3 .logo2,#hand4 .logo1, #lizard .Lizard, #cross .Cross, #rock1 .logo3
{
width: 7rem;
height: 7.0625rem;
flex-shrink: 0;
}
#hand3
{
position: absolute;
top: 51%;
left:80%;
transform: translate(-50%, -50%);   
}
#hand4  
{
position: absolute;
top: 38.5%;
left:50%;
transform: translate(-50%, -50%);   
}
#lizard
{
position: absolute;
top: 72%;
left:30%;
transform: translate(-50%, -50%);  
}
#cross
{
position: absolute;
top: 51%;
left:20%;
transform: translate(-50%, -50%);
}
#rock1
{
position: absolute;
top: 72%;
left:68%;
transform: translate(-50%, -50%);
}
.logo
{
  width: 83px;  
  height: 48px

}
#Score_board
{
width: 5rem;
height: 4.5rem;
flex-shrink: 0;
border-radius: 0.25rem;
background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
position: relative;
left: -26%;
}
#num
{
color: #565468;
text-align: center;
font-family: Barlow Semi Condensed;
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: 2.5rem; /* 100% */
}
#num
{
    position: relative;
    top:-12%;
}


header{
position: absolute;
top: 13%;
left:50%;
transform: translate(-50%, -50%); 

}
.container1{
width: 19.4375rem;
height: 6rem;
flex-shrink: 0;
border-radius: 0.3125rem;
border: 3px solid rgba(255, 255, 255, 0.29);
padding: 10px;
}
.tri
{
width: 10.375rem;
height: 11.75rem;
flex-shrink: 0;
position: absolute;
top: 55%;
}
.Mychoice
{
    display: block;
}

#rock
{
width: 8.125rem;
height: 8.3125rem;
flex-shrink: 0;
top: 64%;

}
#rock{
    position: absolute; 
    top: 62.5%;
    left: 50%;   
    transform: translate(-50%, -50%);
    }
.logo3
{
display: block;
}
.Logo3
{
 display: none;   
}
.Logo2
{
display: none;
}
.logo2
{
display: block;  
}
.logo1
{
    display:block;
}
.Logo1
{
display: none;
}

#hand
{
position: relative;
top: 50%;
left: 10%;
}
#hand2
{
 position: relative;
 left: -8%;
 top: 50%;

}
.both
{
position: absolute;
top: 45%;
gap: 90px;
}
#myRules 
{
position: absolute;
left:75%;
top: 95%;
transform: translate(-50%, -50%); 
}

#Bonus
{
position: absolute;
left:12%;
transform: translate(-50%, -50%);     
}

 

.content
{
width: 22rem;
height: 22.9375rem;
flex-shrink: 0;
border-radius: 0.5rem;
background: #FFF;
box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
position: relative;
top: 23%;
}
.box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8
{
gap: 40px;
padding: 15px;
border-radius: 0.9375rem;
border: 3px  rgba(255, 255, 255, 0.29);   
position: absolute;
top: 45%;
left:50%;
transform: translate(-50%, -50%); 
display: none;
width: 99%;
flex-shrink: 0;


}
#Mychoice
{
display: none;
}
.Mychoice
{
position: relative;
top: 45%;
left:1%;
width: 8.125rem;
height: 8.3125rem;
flex-shrink: 0;
}
.mid
{
 position: absolute;  
 top: 140%; 
 left:45%;
transform: translate(-50%, -50%); 
width: 80%;

}

#Result,#Result2,#Result3,#Result4,#Result5
{
position: relative;  
top: 0%; 
left:5%;    
}
#Home,#Home2,#Home3,#Home4,#Home5
{
width: 13.75rem;
height: 3rem;
flex-shrink: 0;
position: relative;
left: 20%;
}
.content1 p
{
color: #FFF;
text-align: center;
text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
font-family: Barlow Semi Condensed;
font-size: 0.9375rem;
font-style: normal;
font-weight: 700;
line-height: 2rem; /* 213.333% */
letter-spacing: 0.11719rem;   
}
.yp
{
 position: absolute;  
 left: 10%; 
 top: 90%;

}
.yp1
{
position: absolute;  
left: 60%; 
top: 90%;
}
#Aichoice1,#Aichoice2,#Aichoice3
{
width: 8.125rem;
height: 8.3125rem;   
position: relative; 
right:3%;
}

.box4 #Aichoice1,.box5 #Aichoice2,.box6 #Aichoice3,.box7 #Aichoice4,.box8 #Aichoice5
{
    width: 8.125rem;
    height: 8.3125rem;
position: relative; 
right:3%;    
}
#oval,#oval3,#oval5,#oval7,#oval9
{
 width: 9.875rem;
height: 9.875rem;
flex-shrink: 0;
border-radius: 45.625rem;
opacity: 0.05;
background: #FFF;
position: absolute;
right: 60%;
z-index: -1;
top: 24%;  
display: none;

}
#oval2,#oval4,#oval6,#oval8,#oval10  
{
width: 9.875rem;
height: 9.875rem;
flex-shrink: 0;
border-radius: 45.625rem;
opacity: 0.05;
background: #FFF;
position: absolute;
left: 58.5%;
z-index: -1;
top: 24%; 
display: none; 
   
.content
{
width: 100%;
height: 100vh;
flex-shrink: 0;
border-radius: 0px 0px 5px 5px ;
background: #FFF;
box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
position: relative;
top: 0%; 


}
.icon
{
   margin-top: -10px;
   width: 19.0625rem;
height: 16.9375rem;
flex-shrink: 0;
}
.b1 p
{
  margin: auto; 
  position: relative; 
  margin-top: 25%;
}
.close
{

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); 
     
}

#Bonus
{
     position: absolute;
    top: 90%;        
    left: 50%;
    transform: translate(-50%, -50%);
}
#Bonus{
    position: absolute;
    top: 80%;
    left: 10%;  
}
.but{
    position: relative;
    top: 85%;
   }
 #Bonus
{
width: 9rem;
}
}
}

@media screen and (width:414px)
{

header{
position: absolute;
top: 13%;
left:50%;
transform: translate(-50%, -50%); 
}
    
}
@media screen and (width:428px)
{
header{
position: absolute;
top: 13%;
left:50%;
transform: translate(-50%, -50%); 
}
}
@media screen and (max-width:320px) 
{
    header{
        position: absolute;
        top: 13%;
        left:40%;
        transform: translate(-50%, -50%); 
        }
body
    {
overflow: hidden;
    } 
.box1,.box2,.box3
{
gap: 40px;
padding: 15px;
border-radius: 0.9375rem;
border: 3px  rgba(255, 255, 255, 0.29);   
position: absolute;
top: 38%;
left:50%;
transform: translate(-50%, -50%); 
display: none;
width: 98%;
flex-shrink: 0;

}  

#Result,#Result2,#Result3
{
position: relative;  
top: 0%; 
left:8%;  
font-size: 2.7rem; 
}
#Home,#Home2,#Home3
{
width: 13.75rem;
height: 3rem;
flex-shrink: 0;
position: relative;
/* transform: translate(-50%, -50%);  */
top: 130%; 
 left: -10%;
}
.mid
{
position: absolute;  
top: 125%; 
left:46%;
transform: translate(-50%, -50%); 
}
.Mychoice
{
position: relative;
top: 45%;
left:-4%;
}
#Aichoice1,#Aichoice2,#Aichoice3
{
width: 8.125rem;
height: 8.3125rem;   
position: relative; 
right: -3%;
}
.yp
{
 position: absolute;  
 left: 6%; 
 top: 90%;

}
.yp1
{
position: absolute;  
left: 52%; 
top: 90%;
}
.container1
{
/* width:120% ;
margin-left:12%;  */

width: 140%;
height: 6rem;
flex-shrink: 0;
border-radius: 0.3125rem;
border: 3px solid rgba(255, 255, 255, 0.29);
padding: 10px;
    
}
.logo3
{
position: relative;
top: 25%;
}
.content
{
width: 17rem;
height: 18.9375rem;
flex-shrink: 0;
border-radius: 0.5rem;
background: #FFF;
box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
position: relative;
top: 20%;
}
.icon
{
width: 13rem;
height: 11.9375rem;   
margin-top: 15px;
}
.close
{

position: absolute;
top: 75%;
left: 50%;
transform: translate(-50%, -50%); 
     
}
.content
{
width: 100%;
height: 100vh;
flex-shrink: 0;
border-radius: 0px 0px 5px 5px ;
background: #FFF;
box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
position: relative;
top: 0%; 


}
.icon
{
margin-top: -60px;
flex-shrink: 0;
}
.b1 p
{
  margin: auto; 
  position: relative; 
  margin-top: 10%;
}
.logo2
{
position: relative;
left: -30px;
width: 6.4rem;
height: 6.4rem;
}
.logo3{
width: 6.4rem;
height: 6.4rem;   
position: relative;
left: 13px;
}
.logo1
{
width: 6.4rem;
height: 6.4rem;
position: relative;
left: 20px;
}
.but{
position: relative;
top: 80%;
   }
#Score_board
{
width: 5rem;
height: 4.5rem;
flex-shrink: 0;
border-radius: 0.25rem;
background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
position: relative;
left: 1%;
}

}


